    <div class="section-keybard">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div class="key letter" (click)="setLetter('Q')">
                        Q
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('W')">
                        W
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('E')">
                        E
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('R')">
                        R
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('T')">
                        T
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('Y')">
                        Y
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('U')">
                        U
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('I')">
                        I
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('O')">
                        O
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('P')">
                        P
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="key letter" (click)="setLetter('A')">
                        A
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('S')">
                        S
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('D')">
                        D
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('F')">
                        F
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('G')">
                        G
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('H')">
                        H
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('J')">
                        J
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('K')">
                        K
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('L')">
                        L
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="key letter" (click)="setLetter('Z')">
                        Z
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('X')">
                        X
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('C')">
                        C
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('V')">
                        V
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('B')">
                        B
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('N')">
                        N
                    </div>
                </ion-col>
                <ion-col>
                    <div class="key letter" (click)="setLetter('M')">
                        M
                    </div>
                </ion-col>
            </ion-row>
            <ion-row></ion-row>
        </ion-grid>
    </div>