<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" padding>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>ASSORTED GAME</ion-title>
    <ion-buttons slot="end">
      <fiv-icon [off]="off" [dotVisible]="dot" slot="icon-only"
                [name]="iconCoins"></fiv-icon>
      <ion-badge>{{twirlAndTipValue}}</ion-badge>
    </ion-buttons>
    <ion-buttons slot="end" padding>
      <fiv-icon [off]=off [dotVisible]="dot" slot="icon-only" [indicatorValue]=0 [name]="iconSetting" (click)="togglePopupMenu()"></fiv-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="end-game" *ngIf="endGame"></div>
<div class="display-keyboard" *ngIf="!openKeyboard && gameTheme" (click)="displayKeyboard()"></div>
<ion-content padding>
  <div class="popup-menu">
    <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}" (click)="togglePopupMenu()"></div>
    <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
      <div class="popup-menu-item" (click)="twirlAndTipModel()">
        <ion-icon [name]="iconTwirlAndTip"></ion-icon>
        <ion-badge>{{twirlAndTipValue}}</ion-badge>
        <span>SPIN</span>
      </div>
      <div class="popup-menu-item" (click)="settingsModel()">
        <ion-icon name="person"></ion-icon>
        <span>ACCOUNT</span>
      </div>
    </div>
  </div>
  <div  *ngIf="gameTheme;else select_game_theme">
    <ion-label color="dark">Score: {{score}}</ion-label>
      <!-- <div class="card" *ngIf="totalGameLevelScores < limitScoreToUnlockNewGame" padding> -->
      <div class="card" padding>
        <div class="progress-bar item-text-wrap" *ngIf="totalGameLevelScores && limitScoreToUnlockNewGame">
          <div class="loader" [ngStyle]="{'width.%':totalGameLevelScores/limitScoreToUnlockNewGame*100}">
            <p class="percent">{{totalGameLevelScores}}/{{limitScoreToUnlockNewGame}}</p>
          </div>
        </div>
      </div>
      <ion-grid *ngIf="firstLastLetter" >
      <ion-row *ngFor="let wordGameItem of numGameWordArr; let i = index" [attr.data-index]="i">
        <ion-col *ngFor="let wordGameCharacter of numGameLetterArr[i]; let j = index" [attr.data-index]="j">
          <div
                  *ngIf="(i==0 && j==0) || (i == numGameWordArr.length-1 && j == numGameLetterArr[i].length-1) ; else normalInput"
                  class="first-last-character ion-text-center">
            <label [id]="'c'+i+j">{{firstLastLetter}}</label>
          </div>
          <ng-template #normalInput>
            <div
                    *ngIf="j%2 == 0;else grayBackground"
                    class="blue-background ion-text-center" [ngClass]="{'labelFocus': (focusI == i && focusJ == j)}">
              <label [id]="'c'+i+j"></label>
            </div>
            <ng-template #grayBackground>
              <div
                      class="gray-background ion-text-center" [ngClass]="{'labelFocus': (focusI == i && focusJ == j)}">
                <label [id]="'c'+i+j" ></label>
              </div>
            </ng-template>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div ></div>
    <div class="section-keybard" [ngClass]="{'in': openKeyboard}">
      <ion-grid *ngIf="openKeyboard">
        <ion-row>
          <ion-col>
            <div class="key letter" (click)="selectLetter('Q')" [ngClass]="{'disableKey': keyObj.q}">
              Q
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('W')" [ngClass]="{'disableKey':keyObj.w}">
              W
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('E')" [ngClass]="{'disableKey':keyObj.e}">
              E
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('R')" [ngClass]="{'disableKey':keyObj.r}">
              R
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('T')" [ngClass]="{'disableKey':keyObj.t}">
              T
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('Y')"  [ngClass]="{'disableKey':keyObj.y}">
              Y
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('U')" [ngClass]="{'disableKey':keyObj.u}">
              U
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('I')" [ngClass]="{'disableKey':keyObj.i}">
              I
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('O')" [ngClass]="{'disableKey':keyObj.o}">
              O
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('P')" [ngClass]="{'disableKey':keyObj.p}">
              P
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="key letter" (click)="selectLetter('A')" [ngClass]="{'disableKey':keyObj.a}">
              A
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('S')" [ngClass]="{'disableKey':keyObj.s}">
              S
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('D')" [ngClass]="{'disableKey':keyObj.d}">
              D
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('F')" [ngClass]="{'disableKey':keyObj.f}">
              F
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('G')" [ngClass]="{'disableKey':keyObj.g}">
              G
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('H')" [ngClass]="{'disableKey':keyObj.h}">
              H
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('J')" [ngClass]="{'disableKey':keyObj.j}">
              J
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('K')" [ngClass]="{'disableKey':keyObj.k}">
              K
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('L')" [ngClass]="{'disableKey':keyObj.l}">
              L
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="key letter" (click)="selectLetter('Z')" [ngClass]="{'disableKey':keyObj.z}">
              Z
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('X')" [ngClass]="{'disableKey':keyObj.x}">
              X
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('C')" [ngClass]="{'disableKey':keyObj.c}">
              C
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('V')" [ngClass]="{'disableKey':keyObj.v}">
              V
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('B')" [ngClass]="{'disableKey':keyObj.b}">
              B
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('N')" [ngClass]="{'disableKey':keyObj.n}">
              N
            </div>
          </ion-col>
          <ion-col>
            <div class="key letter" (click)="selectLetter('M')" [ngClass]="{'disableKey':keyObj.m}">
              M
            </div>
          </ion-col>
        </ion-row>
        <ion-row></ion-row>
      </ion-grid>
    </div>
    <div class="section-keybard" [ngClass]="{'in': openKeyboard}">
      <ion-grid *ngIf="openKeyboard">
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-button expand="full" color="primary" (click)="chooseHint()">Hint</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <ng-template #select_game_theme>
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-button [disabled]="disableBtn === 1 || !isGameConfigHidden" (click)="playRandomMode()" expand="full" color="primary">Random mode</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button [disabled]="disableBtn === 1" (click)="playConfigMode()" type="submit" expand="full" color="primary">Set your own option</ion-button>
          <div [hidden]=isGameConfigHidden>

          <form [formGroup]="wordsLettersForm">
            <ion-item *ngFor="let control of wordsLettersForm.controls | keyvalue">
              <ion-input required type="text" [formControlName]="control.key" placeHolder="Number Letter of this row..."></ion-input>
              <ion-icon (click)="removeControl(control)" name="close-circle"></ion-icon>
            </ion-item>
          </form>
          <ion-button expand="full" color="light" (click)="addControl()">Add Number Letters</ion-button>
            <ion-button (click)="wordsLettersForm.valid && selectGameData(wordsLettersForm)" [disabled]="!wordsLettersForm.valid">Play Game</ion-button>


          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--<ion-grid>-->
    <!--<ion-row>-->
    <!--<ion-col>-->
    <!--<ion-card class="spring" (click)="selectGameData('spring')">-->
    <!--<ion-card-header>-->
    <!--<ion-card-title color="primary">Spring</ion-card-title>-->
    <!--</ion-card-header>-->
    <!--</ion-card>-->
    <!--</ion-col>-->
    <!--<ion-col>-->
    <!--<ion-card class="summer" (click)="selectGameData('summer')">-->
    <!--<ion-card-header>-->
    <!--<ion-card-title color="success">Summer</ion-card-title>-->
    <!--</ion-card-header>-->
    <!--</ion-card>-->
    <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row>-->
    <!--<ion-col>-->
    <!--<ion-card class="autumn" (click)="selectGameData('autumn')">-->
    <!--<ion-card-header>-->
    <!--<ion-card-title color="warning">Autumn</ion-card-title>-->
    <!--</ion-card-header>-->
    <!--</ion-card>-->
    <!--</ion-col>-->
    <!--<ion-col>-->
    <!--<ion-card class="winter" (click)="selectGameData('winter')">-->
    <!--<ion-card-header>-->
    <!--<ion-card-title color="danger">Winter</ion-card-title>-->
    <!--</ion-card-header>-->
    <!--</ion-card>-->
    <!--</ion-col>-->
    <!--</ion-row>-->
    <!--</ion-grid>-->
  </ng-template>
</ion-content>

